<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- document-store -->
    <add key="document-store:use-embedded" value="false"/>
    <add key="document-store:name" value="trackwane-management"/>
    <add key="document-store:api-key" value="trackwane-management/znKrvCQ1MG8yK9"/>
    <add key="document-store:url" value="http://ravendb.wylesight.ws:8080/"/>
    <!-- module -->
    <add key="module:uri" value="http://localhost:37480"/>
    <add key="module:service-name" value="Trackwane.Management"/>
    <add key="module:display-name" value="Trackwane.Management"/>
    <add key="module:name" value="Management"/>
    <!-- logging -->
    <add key="logging:uri" value="http://localhost:5341"/>
    <!-- platform -->
    <add key="platform:secret-key" value="GQDstcKsx0NHjPOuXOYg5MbeJ1XT0uFiwDVvVBrk"/>
  </appSettings>
<runtime><assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  <dependentAssembly>
    <Paket>True</Paket>
    <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
    <bindingRedirect oldVersion="0.0.0.0-999.999.999.999" newVersion="3.0.1.0"/>
  </dependentAssembly>
  <dependentAssembly>
    <Paket>True</Paket>
    <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
    <bindingRedirect oldVersion="0.0.0.0-999.999.999.999" newVersion="8.0.0.0"/>
  </dependentAssembly>
  <dependentAssembly>
    <Paket>True</Paket>
    <assemblyIdentity name="Serilog" publicKeyToken="24c2f752a8e58a10" culture="neutral"/>
    <bindingRedirect oldVersion="0.0.0.0-999.999.999.999" newVersion="1.5.0.0"/>
  </dependentAssembly>
  <dependentAssembly>
    <Paket>True</Paket>
    <assemblyIdentity name="Serilog.FullNetFx" publicKeyToken="24c2f752a8e58a10" culture="neutral"/>
    <bindingRedirect oldVersion="0.0.0.0-999.999.999.999" newVersion="1.5.0.0"/>
  </dependentAssembly>
  <dependentAssembly>
    <Paket>True</Paket>
    <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
    <bindingRedirect oldVersion="0.0.0.0-999.999.999.999" newVersion="5.2.3.0"/>
  </dependentAssembly>
  <dependentAssembly>
    <Paket>True</Paket>
    <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
    <bindingRedirect oldVersion="0.0.0.0-999.999.999.999" newVersion="5.2.3.0"/>
  </dependentAssembly>
</assemblyBinding></runtime><startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
