source http://packages.wylesight.ws/api/odata
source https://api.nuget.org/v3/index.json
framework: net461
content: none
redirects: on

nuget log4net
nuget RabbitMQ.Client
nuget RavenDB.Client
nuget RavenDB.Database
nuget CommonServiceLocator
nuget Hangfire 
nuget Hangfire.Core 
nuget Hangfire.Raven 
nuget Hangfire.StructureMap3 
nuget Microsoft.AspNet.WebApi.SelfHost
nuget OctopusTools
nuget FluentValidation
nuget Microsoft.CodeDom.Providers.DotNetCompilerPlatform 1.0.1 framework: >= net461
nuget Microsoft.Net.Compilers 1.1.1 framework: >= net461
nuget Microsoft.Owin 
nuget Microsoft.Owin.Host.SystemWeb 
nuget Microsoft.Owin.SelfHost
nuget Microsoft.Owin.Hosting
nuget Microsoft.Owin.Host.HttpListener
nuget Microsoft.Owin.Diagnostics
nuget Microsoft.WindowsAzure.ConfigurationManager 3.1.0 framework: >= net461
nuget morelinq 1.4.0
nuget Newtonsoft.Json 8.0.2
nuget NUnit 3.0.1 framework: >= net461
nuget Owin 1.0 framework: >= net461
nuget Polly 3.0.0
nuget RestSharp 105.2.3
nuget Serilog.Sinks.Seq
nuget SerilogWeb.Owin
nuget Shouldly
nuget structuremap 4.0.1.318
nuget FAKE
nuget JWT
nuget Microsoft.Web.Infrastructure
nuget Microsoft.AspNet.WebApi
nuget TopShelf
nuget Swashbuckle.Core