source http://packages.wylesight.ws/api/odata
source https://api.nuget.org/v3/index.json
framework: net461
content: none
redirects: on

nuget RabbitMQ.Client
nuget RavenDB.Client
nuget RavenDB.Database
nuget CommonServiceLocator
nuget Hangfire 1.5.3 framework: >= net461
nuget Hangfire.Core 1.5.3 framework: >= net461
nuget Hangfire.SqlServer 1.5.3 framework: >= net461
nuget Hangfire.StructureMap3 1.5.3 framework: >= net461
nuget log4net 2.0.5
nuget Microsoft.AspNet.WebApi.SelfHost
nuget OctopusTools
nuget FluentValidation
nuget logentries.core 2.8.0 framework: >= net461
nuget logentries.log4net 2.8.0 framework: >= net461
nuget Microsoft.CodeDom.Providers.DotNetCompilerPlatform 1.0.1 framework: >= net461
nuget Microsoft.Net.Compilers 1.1.1 framework: >= net461
nuget Microsoft.Owin 3.0.1 framework: >= net461
nuget Microsoft.Owin.Host.SystemWeb 3.0.1 framework: >= net461
nuget Microsoft.WindowsAzure.ConfigurationManager 3.1.0 framework: >= net461
nuget morelinq 1.4.0
nuget Newtonsoft.Json 8.0.2
nuget NUnit 3.0.1 framework: >= net461
nuget Owin 1.0 framework: >= net461
nuget paramore.brighter.commandprocessor 5.0.323 framework: >= net461
nuget Polly 2.2.3 framework: >= net461
nuget RestSharp 105.2.3
nuget structuremap 4.0.1.318
nuget FAKE
nuget JWT
nuget NLog
nuget Microsoft.Web.Infrastructure
nuget Microsoft.AspNet.WebApi