body, html
	height: 100%

body
	background-color: #333;
	color: #ddd;
	display: flex;

body > div
	flex: 1;
	display: flex 

.page
	flex: 1
	display: flex

	.canvas
		flex-direction: column;
		flex: 1;
		display: flex

// Materialize Overrides
