source http://packages.wylesight.ws/api/odata
source https://api.nuget.org/v3/index.json
framework: net461
content: none

nuget Antlr 3.5.0.2
nuget CommonServiceLocator 1.3
nuget Faker
nuget FluentValidation
nuget Geo
nuget JWT
nuget FAKE
nuget OctopusTools
nuget Microsoft.AspNet.Mvc
nuget Microsoft.AspNet.Razor
nuget Microsoft.AspNet.WebApi
nuget Microsoft.AspNet.WebApi.Client
nuget Microsoft.AspNet.WebApi.Core
nuget Microsoft.AspNet.WebApi.Owin
nuget Microsoft.AspNet.WebApi.SelfHost
nuget Microsoft.AspNet.WebApi.WebHost
nuget Microsoft.AspNet.WebPages
nuget Microsoft.CodeDom.Providers.DotNetCompilerPlatform 1.0.1
nuget Microsoft.Net.Compilers 1.1.1
nuget Microsoft.Owin
nuget Microsoft.Owin.Host.HttpListener
nuget Microsoft.Owin.Host.SystemWeb
nuget Microsoft.Owin.Hosting
nuget Microsoft.Web.Infrastructure
nuget Newtonsoft.Json
nuget NUnit
nuget TopShelf
nuget NUnit.Console
nuget OctoPack
nuget Owin
nuget Polly 3.0.0
nuget RavenDB.Client
nuget RavenDB.Database
nuget RestSharp
nuget Shouldly
nuget structuremap
nuget WebActivatorEx
nuget RabbitMQ.Client
nuget Serilog.Sinks.Seq
nuget Swashbuckle.Core
