.data--tracker-list--component ul {
	padding: 0; 
    margin: 0; 
    height: 100%;
    li {
	    list-style-type: none; 
        padding: 7px 0 7px 13px;
	    border-bottom: 1px solid #555; 
        font-size: 11px; 
        cursor: pointer;
        .icon {
	        height: 20px; 
            float: left; 
            top: -2px; 
            position: relative; 
            margin-right: 2px
        }
        :nth-child(even) {
	        background: #555
        }
        :hover {
	        background: #222
        }
    }
    p {
	    margin: 0
    }
}

