source http://packages.wylesight.ws/api/odata
source https://api.nuget.org/v3/index.json
framework: net461
content: none

nuget CommonServiceLocator
nuget Faker
nuget FluentValidation
nuget Geo
nuget JWT
nuget FAKE
nuget LibLog
nuget Microsoft.AspNet.WebApi
nuget Microsoft.AspNet.WebApi.Client
nuget Microsoft.AspNet.WebApi.Core
nuget Microsoft.AspNet.WebApi.SelfHost
nuget Microsoft.Web.Infrastructure
nuget Microsoft.WindowsAzure.ConfigurationManager
nuget Newtonsoft.Json
nuget NSubstitute
nuget NUnit
nuget NUnit.Console
nuget Polly 3.0.0
nuget RabbitMQ.Client
nuget RavenDB.Client
nuget RavenDB.Database
nuget RestSharp
nuget Serilog.Sinks.Seq
nuget Shouldly
nuget structuremap
nuget Swashbuckle.Core
nuget WindowsAzure.ServiceBus