source http://packages.wylesight.ws/api/odata
source https://api.nuget.org/v3/index.json
framework: net461
content: none
redirects: on

nuget FAKE
nuget OctopusTools
nuget Microsoft.AspNet.Mvc 5.2.3 framework: >= net461
nuget Microsoft.AspNet.Razor 3.2.3 framework: >= net461
nuget Microsoft.AspNet.WebApi.Client 5.2.3 framework: >= net461
nuget Microsoft.AspNet.WebApi.Core 5.2.3 framework: >= net461
nuget Microsoft.AspNet.WebApi.WebHost 5.2.3 framework: >= net461
nuget Microsoft.Net.Compilers framework: >= net461
nuget Microsoft.Owin 3.0.1 framework: >= net461
nuget Microsoft.Owin.Host.SystemWeb 3.0.1 framework: >= net461
nuget Microsoft.Web.Infrastructure 1.0.0.0 framework: >= net461
nuget Newtonsoft.Json 6.0.4 framework: >= net461
nuget CommonServiceLocator
nuget Faker
nuget FluentValidation
nuget Geo
nuget JWT
nuget Microsoft.AspNet.Identity.Core
nuget Microsoft.AspNet.WebApi
nuget Microsoft.AspNet.WebApi.SelfHost
nuget Microsoft.AspNet.WebPages
nuget Microsoft.CodeDom.Providers.DotNetCompilerPlatform
nuget NUnit
nuget NUnit.Console
nuget OctoPack
nuget Owin
nuget Polly 3.0.0
nuget RabbitMQ.Client
nuget RavenDB.Database
nuget RestSharp
nuget Serilog.Sinks.Seq
nuget Shouldly
nuget structuremap
nuget Swashbuckle.Core
nuget Topshelf
nuget WebActivatorEx