<style type="text/css">

	.data--tracker-list--component ul {
		padding: 0; margin: 0; height: 100%
	}
	.data--tracker-list--component ul li {
		list-style-type: none; padding: 7px 0px 7px 13px;
		border-bottom: 1px solid #555; font-size: 11px; cursor: pointer
	}

	.data--tracker-list--component ul p {
		margin: 0
	}

	.data--tracker-list--component ul li .icon {
		height: 20px; float: left; top: -2px; position: relative; margin-right: 2px
	}

	.data--tracker-list--component ul li:nth-child(even) {
		background: #555
	}

	.data--tracker-list--component ul li:hover {
		background: #222
	}


</style>

<ul>
    <li ng-repeat="tracker in trackers" ng-controller="data.tracker-list.tracker-row.controller">
        <img class="icon" src="https://cdn2.iconfinder.com/data/icons/general-ui-icons/800/location44-128.png"/>
        <p>{{tracker.identifier}}</p>
    </li>
</ul>
