dashboard-page

	dashboard-trackers
		width: 300px
		background-color: #343434

	dashboard-map
		flex: 1
		display: flex
		align-items: stretch;
		ui-gmap-google-map
			align-items: stretch;
			flex: 1

.map
	display: flex;
	flex: 1;
	background-color: #666;
	align-items: stretch;

.angular-google-map, .angular-google-map-container
	flex: 1
	display: flex
