reports-page
	flex: 1
	display: flex

	.canvas
		flex-direction: column;
		flex: 1;
		display: flex

	reports-tracker-picker
	 	li.header
		 	padding: 10px
		 	font-weight: bold
		 	border-bottom: 1px solid #777
