<ul>
	<li><a href="#">Dashboard</a></li>
	<li><a href="#">Realtime Map</a></li>
	<li><a href="#">Historical Map</a></li>
</ul>

<style type="text/css">

	.data--left-navigation--component ul {
		list-style-type: none; font-size: 11px; margin-left: 0; padding-left: 20px
	}
	.data--left-navigation--component ul li {
		width: auto; margin-top: 10px
	}

	.data--left-navigation--component ul li a {
		color: white; text-decoration: none
	}

	.data--left-navigation--component ul li a:hover {
		color: orange
	}

</style>
