@{
    ViewData["Title"] = "Trackwane - Dashboard";
}

<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

<script type="text/javascript">

        angular.module("trackwane", []);

</script> 