<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!-- document-store -->
    <add key="document-store:use-embedded" value="false" />
    <add key="document-store:name" value="trackwane-simulation" />
    <add key="document-store:api-key" value="trackwane-simulation/8StUKQmHGN2wqQBJKOVI8eKHbpqPIpW" />
    <add key="document-store:url" value="http://ravendb.wylesight.ws:8080" />
    <!-- module -->
    <add key="module:uri" value="http://localhost:37220" />
    <add key="module:service-name" value="Trackwane.Simulator" />
    <add key="module:display-name" value="Trackwane.Simulator" />
    <add key="module:name" value="Simulator" />
    <!-- logging -->
    <add key="logging:uri" value="http://localhost:5341" />
    <!-- platform -->
    <add key="platform:secret-key" value="GQDstcKsx0NHjPOuXOYg5MbeJ1XT0uFiwDVvVBrk" />
    <!-- downstream -->
    <add key="downstream:data" value="http://localhost:37470" />
  </appSettings>
<runtime><assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  <dependentAssembly>
    <Paket>True</Paket>
    <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-999.999.999.999" newVersion="3.0.1.0" />
  </dependentAssembly>
  <dependentAssembly>
    <Paket>True</Paket>
    <assemblyIdentity name="Microsoft.Owin.Hosting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-999.999.999.999" newVersion="3.0.1.0" />
  </dependentAssembly>
  <dependentAssembly>
    <Paket>True</Paket>
    <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-999.999.999.999" newVersion="8.0.0.0" />
  </dependentAssembly>
</assemblyBinding></runtime></configuration>