<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="rmqMessagingGateway" type="paramore.brighter.commandprocessor.messaginggateway.rmq.MessagingGatewayConfiguration.RMQMessagingGatewayConfigurationSection, paramore.brighter.commandprocessor.messaginggateway.rmq" />
  </configSections>
  <appSettings>
    <!-- document-store -->
    <add key="document-store:use-embedded" value="false" />
    <add key="document-store:name" value="trackwane-management" />
    <add key="document-store:api-key" value="trackwane-management/znKrvCQ1MG8yK9" />
    <add key="document-store:url" value="http://ravendb.wylesight.ws:8080/" />
    <!-- module -->
    <add key="module:uri" value="http://localhost:37480" />
    <add key="module:service-name" value="Trackwane.Management" />
    <add key="module:display-name" value="Trackwane.Management" />
    <add key="module:name" value="Management" />
    <!-- logging -->
    <add key="logging:uri" value="http://localhost:5341" />
    <!-- platform -->
    <add key="platform:secret-key" value="GQDstcKsx0NHjPOuXOYg5MbeJ1XT0uFiwDVvVBrk" />
  </appSettings>
  <rmqMessagingGateway>
    <amqpUri uri="amqp://guest:guest@localhost:5672/%2f" connectionRetryCount="3" retryWaitInMilliseconds="3000" circuitBreakTimeInMilliseconds="60000" />
    <exchange name="paramore.brighter.exchange" type="direct" durable="true" />
    <queues highAvailability="false" qosPrefetchSize="1" />
  </rmqMessagingGateway>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>
